body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

form {
    margin: 0;
    padding: 0
}

/*     MAIN PAGE     */
.grid-container {
    display: grid;
    height: 100vh;
    padding: 0;
}

.MainPageColumns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0;
}

.birdSide {
    position: relative;
    background-color: #1DA1F2;
}

.birdSide-container {
    position: relative;
}

.birdSide-bg-img {
    display: block;
    width: 100%;
    height: 100vh;
}

.birdSide-fr-img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginSide {
    padding: 0 20px;
}

.loginSide-h1 {
    margin-bottom: 38px;
    margin-top: 38px;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 2.2px;
}

.loginSide-h2 {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 700;
    font-stretch: 200%;
}

.loginSide-functionality {
    display: grid;
    flex-direction: column;
}

#username-login, #password-login {
    margin-bottom: 20px;
    border-radius: 24px;
    border-style: solid;
    border-color: rgb(207, 217, 222);
    width: 300px;
    height: 44px;
    text-indent: 12px;
}

#username-login:focus,
#password-login:focus {
    border-color: rgb(29, 155, 240);
}

.or {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 4px 0 4px;
    width: 280px;
    padding: 0 0 0 20px;
}

.or-span {
    padding: 2px 4px 0;
}

hr {
    width: 134px;
    color: rgb(185, 202, 211)
}

.login-btn {
    margin-bottom: 8px;
    border-style: none;
    border-radius: 24px;
    width: 300px;
    height: 40px;
    background-color: rgb(29, 155, 240);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #fff;
}

.logIn-btn:hover {
    background-color: rgb(26, 140, 216);
    transition-duration: 0.2s;
}

.signup-question {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 15px;
    font-weight: 700;
}

.signup-btn-box {
    display: flex;
    justify-content: space-between;
}


.signup-btn {
    margin-bottom: 8px;
    border-radius: 24px;
    border-style: double;
    border-color: rgb(223, 230, 234);
    width: 300px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    color: rgb(29, 155, 240);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -1px;
}

.signup-btn:hover {
    transition-duration: 0.2s;
    background-color: rgb(29, 150, 240, 0.1);
}

.signup-agreement {
    width: 300px;
    font-size: 11px;
    line-height: 12px;
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: left;
    padding: 40px 20px 20px 10px;
}

.footer-spans {
    padding: 16px 16px 0 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(83, 100, 113);
}

.footer-spans:hover {
    text-decoration-thickness: 1px;
    text-decoration-line: underline;
    outline-style: none;
}

@media (max-width: 1000px) {
    .MainPageRow {
        flex-direction: column-reverse;
    }

    .loginSide {
        order: 2;
    }

    .birdSide-bg-img {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/*     Main page - SignUp Modal Window   */
/*     Step 1                */
.modal-dialog-steps {
    --bs-modal-width: 600px;
}

.modal-steps-content {
    overflow: hidden;
    margin: 0;
    border-radius: 16px;
    max-width: 800px;
    max-height: 90vh;
    min-width: 600px;
    height: 650px;
    padding: 0;
}

.modal-steps-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 9px;
    border-bottom: none;
    --bs-modal-header-padding: 8px 0 0 8px;
}

.modal-closer,
.modal-backer,
.modal-feed-backer {
    width: 36px;
    height: 36px;
    padding: 6px;
}

.userheader-info {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.username-feed {
    font-size: 20px;
    font-weight: 700;
}

.envelope {
    background-color: rgb(207, 217, 222);
    width: 100%;
    height: 258px;
}

.tweets-amount {
    font-size: 13px;
    font-weight: 400;
    color: rgb(83, 100, 113);
}

.modal-closer:hover,
.modal-backer:hover,
.modal-feed-backer:hover {
    transition-duration: 0.2s;
    border-radius: 9999px;
    background-color: rgb(15, 20, 25, 0.1);
    cursor: pointer;
}

.modal-h2 {
    margin-bottom: 0;
    padding: 0 28px 0;
    font-size: 20px;
    font-weight: 700;
}

.modal-steps-body {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.modal-h1 {
    margin-bottom: 0;
    padding: 20px 0;
    font-size: 31px;
    line-height: 36px;
    font-weight: 700;
}

.modal-name-box,
.modal-email-box,
.modal-username-box {
    padding: 0 0;
    color: rgb(83, 100, 113);
}
.modal-name-box:active,
.modal-email-box:active,
.modal-username-box:active {
    color: rgb(29, 155, 240);
}

.fullname-input,
.email-input,
.password-creator,
.username-input,
.bio-input,
.location-input,
.web-site-input {
    margin: 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(207, 217, 222);
    width: 100%;
    height: 100%;
    padding: 12px 0 8px;
    font-size: 17px;
    text-indent: 2px;
}

.fullname-input:focus,
.email-input:focus,
.password-creator:focus,
.username-input:focus,
.bio-input:focus,
.location-input:focus,
.web-site-input:focus {
    box-shadow: rgb(29, 155, 240) 0 0 0 1px;
    border-color: rgb(29, 155, 240);
    outline: none;
}

.dob-phrase {
    margin: 0 0 4px;
    padding: 20px 0 0;
    font-size: 15px;
    font-weight: 700;
}

.modal-warning {
    margin: 0 0 4px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(83, 100, 113);
}

.modal-date-pickers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0;
}

.date-picker-form {
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(207, 217, 222);
    border-width: 1px;
    padding: .375rem 5.15rem 1.375rem .75rem;
    font-size: 13px;
}

.date-picker-form:focus {
    box-shadow: rgb(29, 155, 240) 0 0 0 1px;
    border-color: rgb(29, 155, 240);
    outline: none;
    color: rgb(29, 155, 240);
}

.option-enabled {
    color: #333333;
}

.modal-steps-footer {
    display: flex;
    justify-content: center;
    border-top: none;
    padding: 0 80px;
}

.modal-next-btn {
    margin: 24px 0;
    border-style: none;
    border-radius: 24px;
    width: 100%;
    min-height: 52px;
    background-color: rgb(29, 155, 240);
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #fff;
}

.modal-next-btn:hover {
    transition-duration: 0.2s;
}

/*        Step 2         */
.modal-backer {
    padding: 6px;
    width: 36px;
    height: 36px;
}

.modal-backer:hover {
    transition-duration: 0.2s;
    border-radius: 9999px;
    background-color: rgb(15, 20, 25, 0.1);
    cursor: pointer;
}

/*        Step 3         */
.modal-final-body {
    display: flex;
    justify-content: center;
    text-align: center;
}

/*     LEFT-SIDE BAR      */
.PageContainer {
    display: grid;
    height: 100vh;
    padding: 0;
}

.LeftSidebarBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90vh;
    padding: 0 0 0 55px;
    font-size: 20px;
    font-weight: 400;
}

.left-sidebar-anchor {
    padding: 14px;
    text-decoration: none;
    color: #333;
}

.sidebar-anchor {
    display: flex;
    flex-direction: row;
}

.sidebar-icon {
    margin: 0;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0;
}

.sidebar-span {
    margin-right: 16px;
    margin-left: 20px;
}

.left-sidebar-anchor:hover,
.sidebar-icon-anchor:hover,
.tweet-feed-icon:hover {
    transition-duration: 0.2s;
    border-radius: 9999px;
    background-color: rgb(15, 20, 25, 0.1);
    cursor: pointer;
}

.sidebar-tweet {
    padding: 14px;
}

.tweet-btn {
    margin-bottom: 8px;
    border-style: none;
    border-radius: 9999px;
    width: 219px;
    height: 42px;
    background-color: rgb(29, 155, 240);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #fff;
}

.tweet-modal-btn {
    border-style: none;
    border-radius: 9999px;
    width: 100px;
    height: 36px;
    margin: 0 12px;
    background-color: rgb(29, 155, 240);
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #fff;
}

.tweet-btn:hover,
.tweet-modal-btn:hover {
    transition-duration: 0.2s;
    background-color: rgb(26, 140, 216);
}

.sidebar-user {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    font-size: 15px;
    font-weight: 400;
}

.left-userbar-anchor {
    text-decoration: none;
    color: #333;
    width: 200px;
}

.left-userbar-anchor:hover {
    transition-duration: 0.2s;
    border-radius: 9999px;
    background-color: rgb(15, 20, 25, 0.1);
    cursor: pointer;
}

.userbar-anchor {
    display: flex;
    flex-direction: row;
    padding: 12px 12px;
}

.sidebar-user-icon {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 40px;
    height: 40px;
}

.tweet-modal-body {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.tweet-modal-textarea {
    margin: 12px 0;
}

.tweet-modal-content {
    overflow: hidden;
    margin: 0;
    border-radius: 16px;
    max-width: 800px;
    max-height: 60vh;
    min-width: 600px;
    height: 325px;
    padding: 0;
}

.tweet-modal-for {
    border-radius: 9999px;
    border-color: rgb(223, 230, 234);
    background-color: #fff;
    color: rgb(26, 140, 216);
}
.tweet-modal-for:hover {
    transition-duration: 0.2s;
    background-color: rgb(29, 150, 240, 0.1);
    color: rgb(26, 140, 216);
    border-color: rgb(223, 230, 234);
    --bs-btn-active-color: rgb(26, 140, 216);
    --bs-btn-active-bg: rgb(29, 150, 240, 0.2);
    --bs-btn-active-border-color: rgb(223, 230, 234);
}

.tweet-modal-footer {
    display: flex;
    justify-content: space-between;
    border-top-width: 1px;
    border-top: none;
    padding: 8px;
}

.tweet-modal-svg:hover {
    transition-duration: 0.2s;
    border-radius: 9999px;
    background-color: rgb(29, 155, 240, 0.1);
    cursor: pointer;
}

.tweet-modal-textarea {
    overflow-x: hidden;
    border-radius: 0;
    border-width: 0;
    max-height: 720px;
    min-height: 24px;
    padding: 0;
    cursor: text;
    font-weight: 400;
}

/*TWEET FEED */
.TweetFeedColumn {
    border-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-color: rgb(239, 243, 244);
    padding: 0;
}

.home-feed-header,
.explore-feed-header,
.anonexplore-feed-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 53px;
    padding: 0 12px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.tweet-feed-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 53px;
    padding: 0 12px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.tweet-feed-header:hover {
    transition-duration: 0.2s;
    background-color: rgb(0, 0, 0, 0.03);
}

/* Right sidebar */
.RightSidebar {
    display: flex;
    flex-direction: column;
    padding: 12px 30px;
}

.right-sidebar-functionality {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(239, 243, 244);
    max-width: 350px;
    max-height: 546px;
    min-width: 290px;
    min-height: 380px;
    padding: 0 25px 12px;
}

.right-sidebar-question {
    padding: 12px 0;
    font-weight: 700;
    font-size: 20px;
}

.right-sidebar-signup-btn {
    margin: 12px 0 10px;
}

.right-sidebar-login-functionality {
    margin: 0 0 12px;
    border-radius: 24px;
    border-style: solid;
    border-color: rgb(207, 217, 222);
    width: 300px;
    height: 42px;
    padding: 0;
    text-indent: 12px;
}

.user-profile-box {
    display: flex;
}

.user-profile-icon {
    z-index: 1;
    transform: translateX(0%) translateY(-50%);
    position: absolute;
    width: 146px;
    height: 146px;
}

.modal-profile-window {
    margin: 0;
    border-radius: 16px;
    max-width: 800px;
    max-height: 90vh;
    min-width: 600px;
    height: 650px;
    padding: 0;
}

.profile-info-header {
    display: flex;
    justify-content: space-between;
    margin: 9px;
    border-bottom: none;
}

.profile-info-header-left {
    display: flex;
    justify-content: center;
}

.changeinfo-btn-box {
    display: flex;
    justify-content: flex-end;
    padding: 12px 16px;
}
.changeinfo-btn {
    justify-self: flex-end;
    border-style: solid;
    border-radius: 9999px;
    border-color: rgb(207, 217, 222);
    border-width: 1px;
    width: 170px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: rgb(15, 20, 25);
}

.save-info-btn {
    background-color: black;
    color: white;
    border-radius: 9999px;
    border-style: none;
    width: 110px;
    height: 32px;
}

.envelope-modal {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 160px;
}

.modal-profile-fullname {
    margin: 75px 0;
}

.modal-profile-bio {
    margin: 25px 0;
}

.form-floating>.bio-input {
    padding: 2rem 0.75rem 60px;
}
.form-floating .bio-input:focus {
    padding: 2rem 0.75rem 60px;
}
